<div class="user-list">
    <table class="table table-bordered">
        <thead>
        <th>用户名</th>
        <th>电子邮件</th>
        <th>角色</th>
        <th>文章</th>
        <th>用户状态</th>
        </thead>
        <tbody>
        <% request.usersList.forEach(function(user){ %>
        <tr>
            <td><%=user.user_login%></td>
            <td><%=user.user_email%></td>
            <td><%=user.display_name%></td>
            <td><%=user.user_status%></td>
            <td><%=user.user_status%></td>
        </tr>
        <% }); %>

        </tbody>
    </table>
</div>