<%
var articleList = request.home && request.home.homeList || [];
%>
<div id="content" class="site-content">
    <% if(articleList.length > 0){ %>
    <% articleList.forEach(function(temp){ %>
    <%
        var date = utils.dateFormat(temp.post_date, "yyyy/MM/dd");
        var id = temp.ID;
        var url = date + "/" + id;
    %>
    <article
            class="post type-post status-publish format-aside hentry category-uncategorized post_format-post-format-aside">
        <header class="entry-header">
            <h2 class="entry-title" itemprop="name">
                <a itemprop="url" href="<%= "/"+url %>" title="链向<%= temp.post_title %>的固定链接"
                   rel="bookmark"><%= temp.post_title %></a>
            </h2>

            <div class="entry-meta">
                                <span class="entry-date">
                                    <a href="<%= "/"+url %>" rel="bookmark">
                                        <time class="entry-date published"><%= date %></time>
                                    </a>
                                </span>
                <span class="sep">·</span>
                                <span class="comments-link">
                                    <a href="http://localhost:8889/wordpress/2016/10/24/fffff/#respond"
                                       itemprop="discussionUrl">0评论</a>
                                </span>
            </div>
        </header>
        <div class="entry-content" itemprop="articleBody">
            <p><%= temp.post_content %></p>
        </div>
    </article>
    <% }); %>
    <% } else{ %>
    <article
            class="post type-post status-publish format-aside hentry category-uncategorized post_format-post-format-aside">
        <div class="entry-content" itemprop="articleBody">
            <p>主人很懒,还没有发布文章!</p>
        </div>
    </article>
    <% } %>
</div>