<div>
    <h3>撰写新文章</h3>

    <div class="post">
        <div class="container-fluid"
             style="margin: 120px auto;padding: 20px 15px; border: 1px solid grey;border-radius: 5px">
            <div class="row-fluid">
                <div class="span8 offset2">
                    <form class="form-horizontal" name="post-new" action="/admin/post_new" method="post">
                        <div class="control-group">
                            <label for="post_title">标题*</label>
                            <input type="text" id="post_title" name="post_title" placeholder="标题">
                        </div>
                        <div class="control-group">
                            <label for="term_id1">分类目录</label>
                            <select name="term_id1">
                                <option value="">无</option>
                                <% request.categoryList.forEach(function(term){ %>
                                <option value="<%= term.term_id %>"><%= term.slug %></option>
                                <% }); %>

                            </select>
                        </div>
                        <div class="control-group">
                            <label for="term_id2">添加标签</label>

                            <select name="term_id2">
                                <option value="">无</option>
                                <% request.tagList.forEach(function(term){ %>
                                <option value="<%= term.term_id %>"><%= term.slug %></option>
                                <% }); %>

                            </select>

                        </div>
                        <div class="control-group">
                            <label for="post_content">内容*</label>

                            <textarea id="post_content" name="post_content"></textarea>

                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" type="submit">submit</button>
                        </div>
                        <% if (session.error){ %>
                        <div class="text-center"><%= error %></div>
                        <% } %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: '#post_content',
        theme: "modern",
        skin: "lightgray",
        toolbar:"code",
        menubar: false,
        height: 300,
        plugins: [                             //插件，可自行根据现实内容删除
            "advlist autolink lists charmap print preview hr anchor pagebreak spellchecker code",
            "searchreplace wordcount visualblocks visualchars fullscreen insertdatetime  nonbreaking",
            "save table contextmenu directionality emoticons paste textcolor autosave"
        ],
    });
</script>