<%
var pageModel = request.pageModel;
%>
<div>
    <h3>文章列表</h3>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <!--//| ID                    | bigint(20) unsigned | NO   | PRI | NULL                | auto_increment |-->
            <!--//| post_author           | bigint(20) unsigned | NO   | MUL | 0                   |                |-->
            <!--//| post_date             | datetime            | NO   |     | 0000-00-00 00:00:00 |                |-->
            <!--//| post_date_gmt         | datetime            | NO   |     | 0000-00-00 00:00:00 |                |-->
            <!--//| post_content          | longtext            | NO   |     | NULL                |                |-->
            <!--//| post_title            | text                | NO   |     | NULL                |                |-->
            <!--//| post_excerpt          | text                | NO   |     | NULL                |                |-->
            <!--//| post_status           | varchar(20)         | NO   |     | publish             |                |-->
            <!--//| comment_status        | varchar(20)         | NO   |     | open                |                |-->
            <!--//| ping_status           | varchar(20)         | NO   |     | open                |                |-->
            <!--//| post_password         | varchar(20)         | NO   |     |                     |                |-->
            <!--//| post_name             | varchar(200)        | NO   | MUL |                     |                |-->
            <!--//| to_ping               | text                | NO   |     | NULL                |                |-->
            <!--//| pinged                | text                | NO   |     | NULL                |                |-->
            <!--//| post_modified         | datetime            | NO   |     | 0000-00-00 00:00:00 |                |-->
            <!--//| post_modified_gmt     | datetime            | NO   |     | 0000-00-00 00:00:00 |                |-->
            <!--//| post_content_filtered | longtext            | NO   |     | NULL                |                |-->
            <!--//| post_parent           | bigint(20) unsigned | NO   | MUL | 0                   |                |-->
            <!--//| guid                  | varchar(255)        | NO   |     |                     |                |-->
            <!--//| menu_order            | int(11)             | NO   |     | 0                   |                |-->
            <!--//| post_type             | varchar(20)         | NO   | MUL | post                |                |-->
            <!--//| post_mime_type        | varchar(100)        | NO   |     |                     |                |-->
            <!--//| comment_count         | bigint(20)          | NO   |     | 0                   |                |-->
            <table class="table table-bordered  table-hover table-responsive">
                <thead>
                    <tr>
                        <th>标题</th>
                        <th>作者</th>
                        <th>分类目录</th>
                        <th>标签</th>
                        <th>评论数</th>
                        <th>日期</th>
                    </tr>
                </thead>
                <tbody>
                <% pageModel.recordList.forEach(function(post){ %>
                <tr>
                    <td><%= post.post_title %></td>
                    <td><%= post.post_author %></td>
                    <td><%= post.post_type %></td>
                    <td><%= post.menu_order %></td>
                    <td><%= post.comment_count %></td>
                    <td><%= utils.dateFormat(post.post_date, "yyyy-MM-dd") %></td>
                </tr>
                <% }); %>

                </tbody>
            </table>
            <div class="pull-right">
                <div class="pagination">
                    <ul>
                        <!--prev-->
                        <% if(pageModel.currentPage > 1){ %>

                        <li><a href="/admin/post?pageNum=<%= pageModel.currentPage - 1 %>">Prev</a></li>
                        <% }else{ %>
                        <li class="disabled"><a href="#">Prev</a></li>
                        <% } %>
                        <!--middle-->
                        <% for(var i = pageModel.beginPageIndex; i <= pageModel.endPageIndex; i++) { %>
                            <% if((pageModel.currentPage == i)){ %>
                            <li class="active"><a href="#"><%= i %></a></li>
                            <% }else{ %>
                            <li><a href="/admin/post?pageNum=<%= i %>&&pageSize=10"><%= i %></a></li>
                            <% } %>
                        <% } %>
                        <!--next-->
                        <% if(pageModel.currentPage < pageModel.pageCount){ %>
                        <li><a href="/admin/post?pageNum=<%= pageModel.currentPage + 1 %>">Next</a></li>
                        <% }else { %>
                        <li class="disabled"><a href="#">Next</a></li>
                        <% } %>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
