<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= locals.title %> - Microblog</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <!--<link rel='stylesheet' href='/css/bootstrap-responsive.min.css'/>-->
    <link rel='stylesheet' href='/css/index.css'/>
    <script src="/js/jquery.js"></script>
</head>
<body class="custom-background">
<div id="page">
    <div id="left">
        <% include common/left %>
    </div>
    <div id="right">
        <div id="main">
            <%
            var type = request.home && request.home.type || 'index';
            if (!type) {
                type = "index";
            }
            %>
            <!--index-->
            <% if(type == "index"){ %>
            <%- include post/index %>
            <% } %>
            <!--article-->
            <% if(type == "article"){ %>
            <%- include post/article %>
            <% } %>
            <!--category-->
            <% if(type == "category"){ %>
            <% locals.type = 'category' %>
            <%- include post/article_list %>
            <% } %>
            <!--archive-->
            <% if(type == "archive"){ %>
            <% locals.type = 'archive' %>
            <%- include post/article_list %>
            <% } %>
            <!--search-->
            <% if(type == "search"){ %>
            <% locals.type = 'search' %>
            <%- include post/article_list %>
            <% } %>
        </div>

        <div id="footer">
            <a href="#" title="优雅的个人发布平台">由WordPress自豪地提供</a>.
            主题：Flat 1.7.6 by <a rel="nofollow" href="https://themeisle.com/themes/flat/"
                                title="Flat WordPress Theme">Themeisle</a>
        </div>
    </div>
</div>
</body>
</html>