<!DOCTYPE html>
<html>
<head>
    <title><%= locals.title||'小海个人博客'%> -记录一个小码农成长之路的个人博客网站</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="<%=locals.keywords||'程序员,码农,成长之路,养成计划'%>,小海博客，个人博客,x373241884y博客">
    <meta name="description" content="<%=locals.description||'回首当初'%>，作为一个程序员的生活点滴，经验总结!记录by小海!">
    <meta name="author" content="小海,x373241884y">
    <link rel='stylesheet' href='//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <!--<link rel='stylesheet' href='/css/bootstrap-responsive.min.css'/>-->
    <link rel='stylesheet' href='/css/themes/winter/index.css'/>
    <link rel="stylesheet" href="/css/prettify-me.css"/>
    <link rel="stylesheet" href="/js/jquery-stars/all.css">


</head>
<body class="custom-background">
<div id="page">
    <div id="left">
        <% include common/left %>
    </div>
    <div id="right">
        <div id="main">
            <%
            var type = request.home && request.home.type || 'index';
            if (!type) {
                type = "index";
            }
            %>
            <!--index-->
            <% if(type == "article"){ %>
                <%- include post/article %>
            <% }else { %>
                <%- include post/list %>
            <% } %>
        </div>

        <div id="foot">
            <a title="优雅的个人发布平台">由x373241884y设计. 主题：Flat 1.7.6 by Themeisle</a> <span><a style="color:dodgerblue" href="https://github.com/x373241884y/xxhblog">Github</a></span>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/prettify.js"></script>
<script src="/js/jquery-stars/jquery-stars.js"></script>
<script src="/js/snowfall.jquery.min.js"></script>
</body>
<script type="text/javascript">
  $(window).load(function () {
        $("pre").addClass("prettyprint linenums");//如果其他地方也要用到pre，我们可以再加一个父标签的选择器来区分
        prettyPrint();//代替body上的onload事件加载该方法
        $(document).snowfall({image :"/images/flake.png", maxSize:15});
    });

   jQuery(document.body).jstars({
       image_path: '/images', // folder with magic image
       style: 'rand',       // optional, color, default: white
       frequency: 3         // optional, from 1 to 19
   });

</script>
<script>
    function hereDoc(f) {
        return f.toString().replace(/^[^\/]+\/\*!?\s?/, '').replace(/\*\/[^\/]+$/, '');
    }
    var string = hereDoc(function () {/*
     #     #   ###   #####   ###    ###   #   #    #     ###    ###   #   #  #     #
      #   #   #   #      #  #   #  #   #  #   #   ##    #   #  #   #  #   #   #   #
       # #        #     #       #  #   #  #   #  # #    #   #  #   #  #   #    # #
        #      ###     #     ###      #   #####    #     ###    ###   #####     #
       # #        #   #         #    #        #    #    #   #  #   #      #     #
      #   #   #   #   #     #   #   #         #    #    #   #  #   #      #     #
     #     #   ###    #      ###   #####      #  #####   ###    ###       #     #
     This is x373241884y's front-end technology blog, github:x373241884y
     */
    });
    console.log(string);
</script>
</html>
