<%
var home = request.home;
articleList = home.homeList || [];
console.log(home.type);
%>
<% if(home.type == "category"){ %>
<h1 class="page-title">分类：<%= home.category %></h1>
<% } else if(home.type == "archive"){ %>
<h1 class="page-title">月份：<%= home.year %>年<%= home.month %>月</h1>
<% } %>
<div id="content" class="site-content">
    <% if(articleList.length > 0){ %>
    <% articleList.forEach(function(temp){ %>
    <%
        var date = utils.dateFormat(temp.post_date, "yyyy/MM/dd");
        var id = temp.ID;
        var url = date + "/" + id;
    %>
    <article class="post type-post status-publish format-aside hentry ">
        <header class="entry-header">
            <h2 class="entry-title" itemprop="name">
                <a itemprop="url" href="<%= "/" + url %>" title="链向<%= temp.post_title %>的固定链接"
                   rel="bookmark"><%= temp.post_title %></a>
            </h2>

            <div class="entry-meta">
                                        <span class="entry-date">

                                            <a href="<%= "/" + url %>" rel="bookmark">
                                                <time class="entry-date published"><%= date %>
                                                </time>
                                            </a>
                                        </span>
                                        <span class="comments-link">
                                            <a href="http://localhost:8889/wordpress/2016/10/24/fffff/#respond"
                                               itemprop="discussionUrl">0评论</a>
                                        </span>
            </div>
        </header>
        <div class="entry-content" itemprop="articleBody">
            <p><%= utils.cutMaxTitle(temp.post_content, 200) %></p>
        </div>
    </article>

    <% }); %>
    <div class="navigation pagination" role="navigation">
        <h2 class="screen-reader-text">文章导航</h2>

        <div class="nav-links">
            <span class="page-numbers current">1</span>
            <a class="prev page-numbers" href="http://localhost:8889/wordpress/">
                <i class="icon-chevron-left"></i>
            </a>
            <a class="page-numbers" href="http://localhost:8889/wordpress/?paged=2">2</a>
            <a class="page-numbers" href="http://localhost:8889/wordpress/?paged=3">3</a>
            <a class="next page-numbers" href="http://localhost:8889/wordpress/?paged=2">
                <i class="icon-chevron-right"></i>
            </a>
        </div>
    </div>
    <% } else{ %>
    <article
            class="post type-post status-publish format-aside hentry category-uncategorized post_format-post-format-aside">
        <div class="entry-content" itemprop="articleBody">
            <p>主人很懒,还没有发布文章!</p>
        </div>
    </article>
    <% } %>

</div>