<%
    var home = request.home;
    var pageModel = home.pageModel || [];
    var articleList = pageModel.recordList,
        title,pageUrl,
        type=home.type,
        current=pageModel.currentPage,
        count=pageModel.pageCount,
        limit=pageModel.limit;
    if (type == "index") {
        home.title = "最近文章:";
    } else if (type == "archive") {
        home.title = "月份：" + home.year + "年" + home.month + "月";
    } else if (type == "category") {
        home.title = "分类：" + home.category;
    } else if (type == "search") {
        home.title = "搜索结果:";
        pageUrl="/search?word="+home.word+"&limit="+limit;
    }
    if(pageUrl===undefined){
        pageUrl="?limit="+limit;
    }
    function calcUrl(url,toIndex){
        return url+"&start="+(toIndex-1)*limit;
    }
%>
<h1 class="page-title"><%= home.title %></h1>
<div id="content" class="site-content">
    <% if(articleList.length > 0){ %>
        <% articleList.forEach(function(temp){ %>
        <%
            var date = utils.dateFormat(temp.post_date, "yyyy/MM/dd");
            var url = utils.dateFormat(temp.post_date, "yyyy/MM/dd") + "/post" + temp.ID;
        %>
        <article class="post type-post status-publish format-aside hentry ">
            <header class="entry-header">
                <h3 class="entry-title" itemprop="name">
                    <a itemprop="url" href="<%= "/" + url %>" title="链向<%= temp.post_title %>的固定链接"
                       rel="bookmark"><%= temp.post_title %></a>
                </h3>

                <div class="entry-meta">
                        <span class="entry-date">
                            <a href="<%= "/" + url %>" rel="bookmark">
                                <time class="entry-date published"><%= date %>
                                </time>
                            </a>
                        </span>
                        <span class="comments-link">
                            <a href="#"
                               itemprop="discussionUrl"><%=temp.comment_count%>评论</a>
                        </span>
                </div>
            </header>
            <!-- <div class="entry-content" itemprop="articleBody">
                <p><%- utils.marked(utils.postSnippet(temp.post_content)) %></p>
            </div> -->
        </article>

        <% }); %>
    <div class="navigation pagination" role="navigation">
        <h3 class="screen-reader-text">文章导航<%=pageModel.currentPage%></h3>

        <div class="nav-links">
            <a class="prev page-numbers <%=current==1?"disabled":""%>" href="<%=calcUrl(pageUrl,current-1)%>">
                <i class="icon-chevron-left"></i>
            </a>
            <% if(current> 2){ %>
            <a class="page-numbers" href="<%=calcUrl(pageUrl,current-2)%>"><%=current-2%></a>
            <%}%>
            <% if(current> 1){ %>
            <a class="page-numbers" href="<%=calcUrl(pageUrl,current-1)%>"><%=current-1%></a>
            <%}%>
            <span class="page-numbers current"><%=current%></span>
            <% if(count-current> 0){ %>
                <a class="page-numbers" href="<%=calcUrl(pageUrl,current+1)%>"><%=current+1%></a>
            <%}%>
            <% if(count-current> 1){ %>
                <a class="page-numbers" href="<%=calcUrl(pageUrl,current+2)%>"><%=current+2%></a>
            <%}%>

            <a class="next page-numbers <%=current==pageModel.pageCount?"disabled":""%>" href="<%=calcUrl(pageUrl,current+1)%>">
                <i class="icon-chevron-right"></i>
            </a>
        </div>
    </div>
    <% } else{ %>
    <article
            class="post type-post status-publish format-aside hentry category-uncategorized post_format-post-format-aside">
        <div class="entry-content" itemprop="articleBody">
            <p>主人很懒,还没有发布文章!</p>
        </div>
    </article>
    <% } %>

</div>
