<div class="left">
    <header id="masthead" class="site-header" role="banner">
        <div class="hgroup">
            <h1 class="site-title display-title">
                <a href="/" title="x373241884y" rel="home"><span itemprop="name">x373241884y</span></a>
            </h1>

            <h2 itemprop="description" class="site-description">黑夜独自行走！</h2>
        </div>
        <nav id="site-navigation" class="navigation main-navigation" role="navigation">
            <div class="nav-menu">
                <ul>
                    <li class="page_item page-item-2"><a href="#">示例页面1</a></li>
                    <li class="page_item page-item-2"><a href="#">示例页面2</a></li>
                    <li class="page_item page-item-2"><a href="#">示例页面3</a></li>
                    <li class="page_item page-item-2"><a href="#">示例页面4</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="sidebar-offcanvas">
        <div id="main-sidebar" class="widget-area" role="complementary">
            <aside id="search-2" class="widget widget_search">
                <form method="get" id="searchform" action="#">
                    <input type="text" class="field" name="s" id="s" placeholder="搜索">
                    <button type="button" tabindex="-1"><i class="icon-search"></i></button>
                </form>
            </aside>
            <aside id="recent-posts-2" class="widget widget_recent_entries">
                <h3 class="widget-title">近期文章</h3>
                <ul>

                    <% request.postNewestList.forEach(function(post){ %>
                    <li>
                        <%
                            var year, month, day, id, url;
                            year = post["year(post_date)"];
                            month = post["month(post_date)"];
                            day = post["day(post_date)"];
                            id = post.ID;
                            url = "/" + year + "/" + month + "/" + day + "/" + id;
                        %>
                        <a href="<%= url %>"><%= utils.cutMaxTitle(post.post_title, 16) %></a>
                    </li>
                    <% }); %>
                </ul>
            </aside>
            <aside id="recent-comments-2" class="widget widget_recent_comments">
                <h3 class="widget-title">近期评论</h3>
                <ul id="recentcomments"></ul>
            </aside>
            <aside id="archives-2" class="widget widget_archive">
                <h3 class="widget-title">文章归档</h3>
                <ul>
                    <% request.articleArchList.forEach(function(arch){ %>
                    <%
                        var month = arch['month(post_date)'];
                        if ((month+"").length == 1) {
                            month = "0" + month;
                        }
                    %>
                    <li>
                        <a href="/<%= arch['year(post_date)'] %>/<%= month %>"><%= arch['year(post_date)'] %>
                            年<%= month %>月</a>
                    </li>
                    <% }); %>
                </ul>
            </aside>
            <aside id="categories-2" class="widget widget_categories">
                <h3 class="widget-title">分类目录</h3>
                <ul>
                    <% request.termsList.forEach(function(temp){ %>
                    <% if(temp.slug != "uncategorized"){ %>
                    <li class="cat-item cat-item-13"><a href="/category/<%= temp.slug %>"><%= temp.name %></a></li>
                    <% } %>
                    <% }); %>

                </ul>
            </aside>
            <aside id="meta-2" class="widget widget_meta">
                <h3 class="widget-title">功能</h3>
                <ul>
                    <li><a href="/signin.c">登录</a></li>
                    <li><a href="">文章<abbr title="Really Simple Syndication">RSS</abbr></a>
                    </li>
                    <li><a href="#">评论<abbr title="Really Simple Syndication">RSS</abbr></a></li>
                </ul>
            </aside>
        </div>
    </div>
</div>